@model CarPoolTool.Models.UserTotal
@using CarPoolTool.Helpers

<div class="ui card stat-card">
    <div class="content">
        @{ 
            string icon = null;
            if (ViewData.ContainsKey("rank"))
            {
                switch ((int)ViewData["rank"])
                {
                    case 1:
                        icon = "gold trophy";
                        break;
                    case 2:
                        icon = "silver trophy";
                        break;
                    case 3:
                        icon = "bronze trophy";
                        break;
                }
            }
        }

        @if(icon != null)
        {
            <i class="right floated ui large @icon icon"></i>
        }
        <div class="header">
            @Model.User.display_name
        </div>
        <div class="meta">
            @@@Model.User.username
        </div>
        <div class="description">
            <div class="ui three mini statistics">
                <div class="teal statistic">
                    <div class="value">
                        <i class="car icon"></i> @Model.Total.driver_total
                    </div>
                    <div class="label">
                        guidatore
                    </div>
                </div>
                <div class="blue statistic">
                    <div class="value">
                        <i class="road icon"></i> @Model.Total.passenger_total
                    </div>
                    <div class="label">
                        passeggero
                    </div>
                </div>
                <div class="red statistic">
                    <div class="value">
                        <i class="line chart icon"></i> @MathHelper.ComputeDriveRunsRatio(Model.Total.driver_total.Value, Model.Total.carpool_total.Value).ToString("N2")
                    </div>
                    <div class="label">
                        guide/corse
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

