@model IEnumerable<CarPoolTool.Models.UserTotal>

@{
    ViewBag.Title = "Statistiche";
}

<h2>Statistiche di partecipazione</h2>

@foreach (var item in Model)
{
    @Html.Partial("UserStatsDetailView", item)
}