@model IEnumerable<CarPoolTool.Models.UserTotal>

@{
    ViewBag.Title = "Statistiche";
}

<h2 style="margin-bottom:0px;">Statistiche di partecipazione</h2>
<div style="color:gray;">Ordinate per numero di guide negli ultimi 30 giorni (descending)</div>
<br/>

<div class="ui stackable cards">
    @{
        int i = 0;
        foreach (var item in Model)
        {
            ViewData["rank"] = i + 1;
            @Html.Partial("UserStatsDetailView", item);
            i++;
        }
    }
</div>