@using CarPoolTool.Models
@model IEnumerable<DayLog>

@{
    ViewBag.Title = "Schedule";
    User user = CarPoolTool.Models.User.GetByUsername(User.Identity.Name);
}

<h2>Settimana del @Model.ElementAt(0).Date.ToString("dd/MM")</h2>

<div class="ui styled accordion">
    @foreach (var day in Model)
    {
        if (!ViewData.ContainsKey("activeDay"))
        {
            ViewData["activeDay"] = DateTime.Today.DayOfWeek;
        }
        string activeAttr = day.Date.DayOfWeek == (DayOfWeek)ViewData["activeDay"] ? "active" : "";
        string driverStr = day.GetDriverStr();
        string passengersStr = day.GetPassengersStr();
        string absentStr = day.GetAbsentStr();
        string missingStr = day.GetMissingStr();

        <div class="@activeAttr title">
            <i class="dropdown icon"></i>
            @day.Date.ToString("dddd dd") 
            <span style="float:right;">
                <i class="teal car icon"></i>
                @driverStr

                <i class="blue road icon"></i>
                @passengersStr
            </span>
        </div>

        <div class="@activeAttr content">
            <table class="ui unstackable definition table">
                <tbody>
                    <!-- Guidatore -->
                    <tr>
                        <td>
                            <i class="teal car icon"></i>
                        </td>
                        <td>
                            @driverStr
                        </td>
                    </tr>

                    <!-- Passeggeri -->
                    <tr>
                        <td>
                            <i class="blue road icon"></i>
                        </td>
                        <td>
                            @passengersStr
                        </td>
                    </tr>

                    <!-- Consiglio dei dieci assenti -->
                    <tr>
                        <td>
                            <i class="red remove user icon"></i>
                        </td>
                        <td>
                            @absentStr
                        </td>
                    </tr>

                    <!-- dispersi -->
                    <tr>
                        <td>
                            <i class="gray help circle icon"></i>
                        </td>
                        <td>
                            @missingStr
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Messaggio non segnato -->
            @if(day.Userdata[user] == UserStatus.MissingData)
            {
                <div class="ui icon yellow message">
                    <i class="warning icon"></i>
                    <div class="content">
                        <div class="header">
                            Non sei segnato per questo giorno. Come ti gira?
                        </div>
                        <a class="width65 ui labeled teal icon button" style="margin-top:6px;">
                            <i class="car icon"></i>
                            Guido io!
                        </a>
                        <a class="width65 ui labeled blue icon button" style="margin-top:6px;">
                            <i class="road icon"></i>
                            Partecipo
                        </a>
                        <a class="width65 ui labeled red icon button" style="margin-top:6px;">
                            <i class="remove user icon"></i>
                            Solo/Ferie
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts
{
    <script>
        $('.ui.accordion').accordion();
    </script>
}