body {
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}

.gold{
    color:gold;
}

.silver{
    color:silver;
}

.bronze{
    color:darkgoldenrod;
}

.stat-card{
    min-width: 315px;
}

.width165{

    width: 165px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   height: 48px;
   margin-top:0;
   margin-bottom:0;
   border-radius:0;
}

.ui.column.no-left-padding{
    padding-left:0px;
}

.no-right-padding{
    padding-right:0px;
}

.hand-cursor{
    cursor:pointer;
}