body {
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}

.gold{
    color:gold;
}

.silver{
    color:silver;
}

.bronze{
    color:darkgoldenrod;
}

.stat-card{
    min-width: 315px;
}

.width165{

    width: 165px;
}