
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "ui form"}))
{
    <div class="field">
        <label>Username</label>
        @Html.TextBox("user")
    </div>

    <div class="field">
        <label>Password</label>
        @Html.Password("pass")
    </div>

    <button class="ui blue labeled icon button" type="submit">
        <i class="icon sign in"></i>
        Sign in
    </button>
}

@if (TempData.ContainsKey("loginError"))
{
    <div class="ui icon red message">
        <i class="warning icon"></i>
        <div class="content">
            <div class="header">
                Errore di login
            </div>
            <p>
                @TempData["loginError"].ToString()
            </p>
        </div>
    </div>
}