@using CarPoolTool.Models;
@model CarPoolTool.Models.UserTotal

@{
    ViewBag.Title = "Pannello utente";
}

<h3>Benvenuto @Model.User.display_name! <br /> Le tue statistiche:</h3>

@Html.Partial("UserStatsDetailView", Model)

<h2>Non sei tu?</h2>
<a class="ui red labeled icon button" href="@Url.Action("Logout", "Account")">
    <i class="ui sign out icon"></i>
    Disconnettiti
</a>